---
import styles from './About.module.css'
---

<section class={`fade-in-up ${styles.about}`} aria-labelledby="about-heading">
    <h2 class={styles.about__heading} id="about-heading">About</h2>
    <p class={styles.about__paragraph}>I'm currently studying computer science with a major in Artificial Intelligence. Over the last 2 years, I have been an entrepreneur selling websites to local businesses, generating over €7,000 in profits. Through this experience, I've developed a strong background in front-end development. I decided to pursue a career in AI as I believe it represents the future of technology, especially in sectors like healthcare.</p>
</section>
